/* font family link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/* 
========================
    COMMON STYLE
========================
*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* 
========================
    HOME PART
========================
*/
.container {
    width: 1350px;
    background-color: #2D25A0;
}

.home {
    display: flex;
    padding: 40px;
}

.home-left {
    margin-left: 55px;
}

.home-left h1 {
    width: 485px;
    font-size: 64px;
    color: #FFFFFF;
}

.home-left button {
    background: #E02C6D;
    padding: 10px 24px;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    border: none;
    transition: background 2s ease-out, transform 2s ease-in-out;
}

.home-left button:hover {
    background: #2ccbe0;
    transform: scale(1.1);
    cursor: pointer;

}

.home-right img {
    width: 556px;
    height: 438px;
    margin: 113px 111px 86px 102px;

}

/* 
========================
    PLAYERS PART
========================
*/
.players-container {
    width: 1051px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 64px;
    margin-left: 85px;
}

.player {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 330px;
    height: 474px;
    transition: 0.3s;
    padding: 10px;
    margin: 20px;
}

.player img {
    width: 100%;
}

.player h3 {
    font-size: 28px;
    color: #18191F;
    margin-top: 5px;
}

.player p {
    font-size: 16px;
    margin: 10px 0px;
    color: #6C6C6C;
}

.player:hover {
    box-shadow: 10px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.player-info {
    padding: 2px 16px;
}

/* 
========================
    MESSI PART
========================
*/
.messi{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
/* 
========================
    FOOTER PART
========================
*/
.footers {
    margin: 60px;
}

.football {
    width: 483.87px;
    height: 110px;
    margin: 0 auto;
}

.football img {
    width: 100%;
}

.icon {
    text-align: center;
    margin: 20px;
}

.icon i {
    padding: 5px;
    color: rgb(216, 200, 200);
    background-color: #f3ecec;
    border-radius: 50%;
}

.footers p {
    text-align: center;
    font-size: 18px;
    margin: 20px 0px;
    color: #c7c6c6;
}

/* 
========================
    MEDIA QUERY PART
========================
*/
@media only screen and (max-width: 688px) {
    .home-left h1 {
        font-size: 40px;
        margin: 0;
    }

    .home-right img {
        width: 400px;
        margin: 20px 0 20px 0;
    }

    .home {
        display: grid;
        grid-template-columns: 1fr;
    }

    .players {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        margin-left: 30px;
    }
    .messi img{
        width: 100%;
    }
    .football img {
        width: 300px;
    }

    .icon {
        text-align: center;
        margin: auto;
        width: 50%;
    }
    
    .footers p{
        text-align: center;
    }

}